<head>
  <title>Example Site</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.css">
  <script src="/js/vendor/modernizr-latest.js"></script>
  <script src="/js/vendor/jquery-1.7.2.min.js"></script>
  <script src="/js/vendor/jquery-ui-1.8.16.custom.min.js"></script>
  <script src="/js/vendor/bootstrap.js"></script>
  <script src="/js/vendor/underscore.js"></script>
  <script src="/js/vendor/backbone.js"></script>
  <script src="/js/vendor/backbone-forms.js"></script>
  <script src="/js/vendor/jquery-ui-editors.js"></script>
  <script src="/js/vendor/json2.min.js"></script>
  <script src="/js/vendor/require.js"></script>
  <script type="text/javascript" src="jst.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</head>
